#div1{
    background-color: wheat;
    width: 210px;
    height: 80px;
    border: solid 1px rgb(248, 244, 244);
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 100px;
}
#div2{
    background-color: white;
    float:right;
    height: 78px;
    width: 205px;
    border-radius: 3px;

}